@model IEnumerable<Member>
@{
    ViewData["Title"] = "Team Members";
}

<partial name="Partials/Sections/_AddMemberForm" model="new Business.Models.AddMemberForm()" />
<partial name="Partials/Sections/_EditMemberForm" model="new Business.Models.EditMemberForm()" />
<partial name="Partials/Sections/_DeleteMemberModal" />

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-add" data-modal="true" data-target="#addMemberModal">Add Member</button>
</div>
<section id="members">
    <div class="surface">
        <div class="members-list member-grid">
            @if (Model != null)
            {
                @foreach (var member in Model)
                {
                    <div class="card member member-card">
                        <div class="dropdown">
                            <i class="fa-regular fa-ellipsis dropdown-toggle" data-member-id="@member.Id"></i>
                            <div class="dropdown-menu">
                                <div class="dropdown-item edit-member" data-modal="true" data-target="#editMemberModal"
                                    data-member-id="@member.Id">
                                    <i class="fa-regular fa-pen-to-square"></i> Edit Member
                                </div>
                                <div class="dropdown-item delete-member" data-member-id="@member.Id"
                                    data-member-name="@member.FirstName @member.LastName">
                                    <i class="fa-regular fa-trash"></i> Delete Member
                                </div>
                            </div>
                        </div>
                        <div class="avatar">
                            <img src="@(string.IsNullOrEmpty(member.ImageUrl) ? "/images/Avatar_male_1.svg" : member.ImageUrl)"
                                alt="Profile Picture" />
                        </div>
                        <div class="member-name">@member.FirstName @member.LastName</div>
                        <div class="member-role">@member.JobTitle</div>
                        <div class="email">@member.Email</div>
                        <div class="phone">@member.Phone</div>
                        <div class="role"></div>

                        <button class="btn-message">
                            <span>Message</span>
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/memberCard.css" />
<script src="~/js/memberList.js"></script>