@model IEnumerable<Member>
@{
    ViewData["Title"] = "Team Members";
}

<section id="members">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button class="btn btn-add">Add Member</button>
    </div>
    <div class="surface">
        <div class="members-list">
            @if (Model != null)
            {
                @foreach (var member in Model)
                {
                    <div class="card member">
                        <div class="card-menu">
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <div class="avatar">
                            <img src="~/images/Avatar_male_1.svg" alt="Profile Picture" />
                        </div>
                        <div class="name">@member.FirstName @member.LastName</div>
                        <div class="jobtitle">@member.JobTitle Chief Executive Officer</div>
                        <div class="email">@member.Email</div>
                        <div class="phone">@member.Phone +46 70 123 45 67</div>
                        <div class="role"></div>

                        <button class="btn-message">
                            <span>Message</span>
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</section>